.kol_alert{
    display: none;
}


// Register style
.devRegis-item{
    margin-bottom: 10px;
}
.devRegis-alert{
    padding: 4px 0px;
    color: red;
}
.show-password-icon{
    svg{
        width: 20px;
        height: 20px;
    }
}
.devRegis-item {
    position: relative;
}
.devRegis-item .show-password-icon {
    position: absolute;
    right: 8px;
    top: calc(50% + 8px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Custom admin style 
.woocommerce-MyAccount-navigation{
    border-right: 2px solid #f3f4f8;
    ul{
        list-style: none;
        padding-left: 0px;
    }
    li{
        padding-left: 10px;
    }
    li.is-active {
        background: #f3f4f8;
    }
    li a{
        color: #000;
        display: block;
        padding: 15px 10px;
        border-radius: 6px;
    }
}

// Custom Avatar
.ac-avatar{
    .avatar-img{
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
#profile_picture{
    position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.woocommerce-form.woocommerce-form-login.login{
    max-width: 500px;
    margin: 0px auto;
}
.woocommerce-account .woocommerce h2{
    display: none;
}
.kol-admin-report{
    .user-manager{
        box-shadow: 0 1px 4px 0 #0002;
        border-radius: 4px;
        background: #fff;
    }
}
.woocommerce-MyAccount-navigation{
    li{
        display: flex;
        align-items: center;
    }
    svg{
        width: 15px;
        height: 15px;
    }
}

.woocommerce-account {
    .woocommerce{
        background: #f6f6f6;
    }
    .woocommerce-MyAccount-navigation{
        background: #fff;
        width: 300px;
    }
    .woocommerce-form-login{
        background: #fff;
    }
    .woocommerce-MyAccount-content{
        width: calc(100% - 300px);
    }
    .dashboard-content-wrapper{
        width: 1104px;
        padding-top: 16px;
        margin: 16px auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
    }
    .kol-subtitle{
        color: #000;
    }
}

@media (max-width:575px){
    .woocommerce-MyAccount-navigation{
        border:none;
    }
    .woocommerce-account {
        .woocommerce-MyAccount-navigation{
            background: #fff;
            width: 100%;
        }
        .woocommerce-MyAccount-content{
            width: 100%;
        }
        .dashboard-content-wrapper{
            width: unset;
            padding: 0px;
        }
        .kol-subtitle{
            color: #000;
        }
    }
    .woocommerce{
        background:#fff;
    }
    
}